body{

background-image: url("https://cdn.pixabay.com/photo/2014/01/13/17/04/background-243677_960_720.jpg"), url("http://khmerebook.com/images/footer/footer-wave.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 100%;

}

.cen{
text-align:center;
}

.foot{

position: fixed;
width: 100%;
bottom: 0;
text-align:right;
}

